COMPANY_NAME="BCYL"
SITE_NAME="BCYL Pokishop"
SHOPIFY_REVALIDATION_SECRET="your_revalidation_secret_here"
SHOPIFY_STOREFRONT_ACCESS_TOKEN="your_storefront_token_here"
SHOPIFY_STORE_DOMAIN="bcyl-pokistop.myshopify.com"